
#app-navigation {
	width: 400px;
	border-right: 1px solid #ddd;
}

#app-navigation .navigation-element, #app-navigation .navigation-element option {
	margin-top: 15px;
	padding: 3px 12px;
}

#app-navigation input, #app-navigation select, #app-navigation option {
	width: 100%;
	box-sizing: border-box;
	background: #ffffffaa !important;
}

#website_infos {
}

#emptycontent {
	position: absolute;
	z-index: -99;
	left: 200px;
}

#website_infos .thumb {
	width: auto;
	max-width: 120px;
	height: auto;
	max-height: 120px;
	float: left;
	margin: 3px 15px 5px 3px;
}